* {
    box-sizing: border-box;
  }

body {
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e4d5;
}

.hero {
    background: url('acomodacao.png') center 10%  / cover no-repeat;
    height: 90vh;
    color: white;
    position: relative;
    font-family: 'Josefin Slab', serif; 
  }
  

  header {
    background: transparent;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 25px;
}

nav li {
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

.hero-text {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding-left: 500px; 
    padding-right: 500px;
}

.rides {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 40px auto;
    max-width: 1200px;
}

.ride-card {
    margin: 0;
    background-color: rgb(246, 242, 242);
    border-radius: 35px;
    box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    font-weight: bold;
}

.ride-card img {
    width: 100%;
    display: block;
    height: auto;
}

.ride-card h3 {
    margin: 15px;
    font-size: 1.5em;
    text-align: center;
}

.ride-card p {
    margin: 20px 15px 10px;
    color: black;
}

.ride-card ul {
    padding: 0px 40px 15px;
    margin: 0;
}

.ride-card li {
    margin-bottom: 5px;
    color: black;
    font-size: 0.9em;
}

.info-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
}

.info-link-unused {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    cursor: default;
}

/* Rodapé */
.footer {
    background-color: #000;
    color: white;
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: none;
  }
  
  .footer-content h2 {
    font-size: 30px;
    margin-bottom: 30px;
    width: fit-content; 
  }
  
  .social-icons {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between; 
     width: 100%; 
     max-width: 400px;
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons img {
    width: 55px;
    height: auto;
    flex-grow: 1; 
    object-fit: contain;
  }
  
  .credit {
    font-size: 15px;
    color: white;
  }

/* Media queries para tornar o layout responsivo */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    nav li {
        margin: 10px 0;
    }
    .hero-text {
        font-size: 2em;
    }
    .rides {
        grid-template-columns: 1fr;
    }
}
